<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Eatly</title>
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <img src="assets/Logo.png" alt="Лого">
                <h4>eatly</h4>
            </div>
            <div class="links">
                <h2>Menu</h2>
                <h2>Blog</h2>
                <h2>Pricing</h2>
                <h2>Contact</h2>
            </div>
        </div>
        
        <div class="header-right">
            <h2>Login</h2>
            <button>Sign Up</button>
        </div>
    </header>

    <main id="first-ad">
        <div id="left">
            <div id="up">
                <div class="dashed-line"></div>
                <h3>OVER 1000 USERS</h3>
            </div>

            <h2>Enjoy Foods All Over The World</h2>

            <h3>EatLy help you set saving goals, earn cash back offers, Go to disclaimer for more details and get paychecks up to two days early. Get a $20 bonus.</h3>

            <button id="first-btn">Get Started</button>
            <button id="second-btn">Go Pro</button>

            <div class="trustpilot">
                <img src="assets/star.png" alt="Rating">
                <h3>Trustpilot</h3>
                <div class="stars">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <h5>4900+</h5>
            </div>
        </div>

        <div id="right">
            <img src="assets/wave.png" alt="">
            <img src="assets/wave.png" alt="">
            <img src="assets/Food Image.png" alt="">

            <div id="order-item">
                <img src="assets/Food Image.png" alt="">
                <h3>Chicken Hell</h3>
                <h4>On The Way</h4>

                <h5>3:09 PM</h5>
            </div>

            <div class="chart-container">
                <div class="chart-tabs">
                    <button class="tab active">Main</button>
                    <button class="tab">Weekly</button>
                    <button class="tab">Monthly</button>
                    <button class="tab">Yearly</button>
                </div>

                <div class="chart-value">$409</div>
                
                <div class="chart-bars">
                    <div class="bar-container">
                    <div class="bar" style="height: 60%;"></div>
                    <span>2D</span>
                    </div>
                    <div class="bar-container">
                    <div class="bar" style="height: 80%;"></div>
                    <span>4D</span>
                    </div>
                    <div class="bar-container">
                    <div class="bar" style="height: 45%;"></div>
                    <span>5D</span>
                    </div>
                    <div class="bar-container">
                    <div class="bar" style="height: 70%;"></div>
                    <span>6D</span>
                    </div>
                    <div class="bar-container">
                    <div class="bar" style="height: 30%;"></div>
                    <span>7D</span>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <main id="stats">
        <div id="container">
            <div class="item">
                <h1>10K+</h1>
                <h3>Satisfied Costumers <br> All Over The World</h3>
            </div>
            <div class="separator"></div>
            <div class="item">
                <h1>4M</h1>
                <h3>Satisfied Costumers <br> All Over The World</h3>
            </div>
            <div class="separator"></div>
            <div class="item">
                <h1>99.99%</h1>
                <h3>Satisfied Costumers <br> All Over The World</h3>
            </div>
        </div>
    </main>

    <main id="premium">
        <div id="left" class="phone-container">
            <div class="phone-wrapper">
                <img src="assets/Mobile Screen.png" alt="Мобильный экран" class="phone-screen">
                <img src="assets/wave.png" alt="Волна" class="wave-decoration">
            </div>
        </div>

        <div id="right">
            <div class="container">
                <h1>Premium Quality For Your Health</h1>
                <ul>
                    <li>Premium quality food is made with ingredients that are packed with essential vitamins, minerals.</li>
                    <li>These foods promote overall wellness by support healthy digestion and boosting immunity</li>
                </ul>
                
                <div id="button">
                    <button>
                        Download
                        <img src="assets/arrow-right.png" alt="">
                    </button>

                    <img id="wave" src="assets/line.png" alt="">
                </div>
                
            </div>
        </div>
    </main>


    <main id="top-rests">
        <h1>Our Top Restaurants</h1>

        <div class="flex">
            <div class="restaurant-card">
                <div class="card-image">
                    <img src="assets/Resturent Image.png" alt="Ресторан">
                </div>
                <div class="card-content">
                    <h3>Название ресторана</h3>
                    <p>Описание кухни и особенностей</p>
                </div>
            </div>

            <div class="restaurant-card">
                <div class="card-image">
                    <img src="assets/Resturent Image.png" alt="Ресторан">
                </div>
                <div class="card-content">
                    <h3>Название ресторана</h3>
                    <p>Описание кухни и особенностей</p>
                </div>
            </div>

            <div class="restaurant-card">
                <div class="card-image">
                    <img src="assets/Resturent Image.png" alt="Ресторан">
                </div>
                <div class="card-content">
                    <h3>Название ресторана</h3>
                    <p>Описание кухни и особенностей</p>
                </div>
            </div>
        </div>
    </main>
</main>
</body>
</html>