<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="item left">
                <div class="container">
                    <div>ВКОНТАКТЕ</div>
                    
                    <div>
                        <input></input>
                    </div>

                    <div>
                        Уведы
                    </div>

                    <div>
                        Музыка
                    </div>
                </div>
            </div>
            <div class="item right">Профиль</div>
        </div>
    </header>

    <section id="feed">
        <aside id="menu">
            Слева
        </aside>

        <section>
            Лента
        </section>
        <aside id="tools">
            Справа
        </aside>
    </section>
</body>
</html>