.container {
  display: flex;
  padding: 10px;
  border: 1px solid black;

}

.left {
  padding: 10px;
  /* Этот элемент "съест" все свободное место справа от себя */
  margin-right: auto; 
  border: 1px solid black;
}

.right {
  padding: 10px;
  border: 1px solid black;
}


#feed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    gap: 20px;

    #menu {
        display: flex; /* Включаем Flex ВНУТРИ колонки */
        justify-content: center; /* Выравнивание по вертикали (центр) */
        align-items: center; /* Выравнивание по горизонтали (центр) */
        height: 200px; /* Без высоты вертикальный центр не увидишь */
    }

    #tools {
        /* position: fixed; */
    }
}