<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css" 
    />
  </head>
  <body>
    <header>
      <h1>Mozilla</h1>
      <!-- insert <img> element, link to the small
          version of the Firefox logo -->

    </header>

    <a href="index1.html">Ссылка</a>

    <main>
      <article>
        <h2>Rocking the free web</h2>

        <p>Mozilla are a global community of technologists, thinkers, and builders, working together to keep the Internet alive and accessible, so people worldwide can be informed contributors and creators of the Web. We believe this act of human collaboration across an open platform is essential to individual growth and our collective future.</p>

        <p>Click on the images below to find more information about the cool stuff Mozilla does. <a href="https://www.flickr.com/photos/mathiasappel/21675551065/">Red panda picture</a> by Mathias Appel.</p>
      </article>

      <div class="further-info">
        <!-- insert images with srcsets and sizes -->
        <a href="https://www.mozilla.org/en-US/firefox/new/">
          <img>
        </a>
        <a href="https://www.mozilla.org/">
          <img>
        </a>
        <a href="https://addons.mozilla.org/">
          <img>
        </a>
        <a href="https://developer.mozilla.org/en-US/">
          <img>
        </a>
        <div class="clearfix"></div>
      </div>

      <div class="red-panda">
        <!-- insert picture element -->
      </div>
    </main>

    <h1>Personal pronouns table</h1>

    <table>
     <caption>Personal pronouns</caption>
      <tr>
       <td colspan="3">&nbsp;</td>
       <th scope="col">Subject</th>
       <th scope="col">Object</th>
      </tr>
      <tr>
       <th rowspan="5" scope="rowgroup">Singular</th>
       <th colspan="2" scope="row">1st Person</th>
       <td>I</td>
       <td>me</td>
      </tr>
      <tr>
       <th colspan="2" scope="row">2nd Person</th>
       <td>you</td>
       <td>you</td>
      </tr>
      <tr>
       <th rowspan="3" scope="rowgroup">3rd Person</th>
       <th class="symbol" scope="row">♂</th>
       <td>he</td>
       <td>him</td>
      </tr>
      <tr>
       <th class="symbol" scope="row">♀</th>
       <td>she</td>
       <td>her</td>
      </tr>
      <tr>
       <th class="symbol" scope="row">o</th>
       <td>it</td>
       <td>it</td>
      </tr>
      <tr>
       <th rowspan="3" scope="rowgroup">Plural</th>
       <th colspan="2" scope="row">1st Person</th>
       <td>we</td>
       <td>we</td>
      </tr>
      <tr>
       <th colspan="2" scope="row">2nd Person</th>
       <td>you</td>
       <td>you</td>
      </tr>
      <tr>
       <th colspan="2" scope="row">3rd Person</th>
       <td>they</td>
       <td>they</td>
      </tr>
    </table>

    <h1>Animals animals</h1>

    <table>
      <tr>
        <th colspan="2">Animals</th>
      </tr>
      <tr>
        <th colspan="2">Hippopotamus</th>
      </tr>
      <tr>
        <th rowspan="2">Horse</th>
        <td>Mare</td>
      </tr>
      <tr>
        <td>Stallion</td>
      </tr>
      <tr>
        <th colspan="2">Crocodile</th>
      </tr>
      <tr>
        <th rowspan="2">Chicken</th>
        <td>Hen</td>
      </tr>
      <tr>
        <td>Rooster</td>
      </tr>
    </table>

    <table>
        <colgroup>
          <col />
          <col style="background-color: rgb(255, 255, 0)" />
        </colgroup>
        <tr>
          <th>Data 1</th>
          <th>Data 2</th>
        </tr>
        <tr>
          <td>Calcutta</td>
          <td>Orange</td>
        </tr>
        <tr>
          <td>Robots</td>
          <td>Jazz</td>
        </tr>
    </table>

    <table>
        <caption>
            Dinosaurs in the Jurassic period
          </caption>
        <tbody style="
            font-size: 100%;
            font-style: italic;
            border: 1px solid black;
                ">
            <tr>
                <th></th>
                <th scope="col">Mon</th>
                <th scope="col">Tues</th>
                <th scope="col">Wed</th>
                <th scope="col">Thurs</th>
                <th scope="col">Fri</th>
                <th scope="col">Sat</th>
                <th scope="col">Sun</th>
            </tr>
            <tr>
                <td>1st period</td>
                <td>English</td>
                <td></td>
                <td></td>
                <td>German</td>
                <td>Dutch</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2nd period</td>
                <td>English</td>
                <td></td>
                <td></td>
                <td>German</td>
                <td>Dutch</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3rd period</td>
                <td>English</td>
                <td></td>
                <td></td>
                <td>German</td>
                <td>Dutch</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot style="font-weight: bold;
                    background-color: #c13832;">
            <tr>
                <td></td>
                <td colspan="6">Итого:</td>
                <td>3</td>
            </tr>
        </tfoot>
    </table>

    <div class="container">
      <div>
        привет
      </div>
      <div>
        привeт1
      </div>
      <div>
        привeт2
      </div>
    </div>

    <h1 id="main-h1">Я заголовок первого уровня</h1>

    <p id="main-p">
      Это абзац. В нём есть <span>элемент span</span>, а также
      <a href="http://example.com">ссылка</a>.
    </p>

    <p class="special">Это второй абзац. Он содержит <em>акцентирующий</em> текст.</p>

    <ul>
      <li>Элемент один</li>
      <li class="special">Элемент два</li>
      <li>Элемент <em>три</em></li>
    </ul>
  </body>
</html>