@keyframes dropdown-slide-in {
    from {
        margin-top: 10%;
    }

    to {
        margin-top: 0;
    }
}

@keyframes dropdown-slide-in-mobile {
    from {
        margin-right: -10%;
    }

    to {
        margin-right: 0;
    }
}

@mixin animation-dropdown-slide-in() {
    animation-name: dropdown-slide-in;
    animation-duration: .3s;
}
