@import "colors";

// Fonts
$font-family_montserrat: 'Montserrat', 'Helvetica Neue', sans-serif;
$font-family_roboto: 'Roboto', 'Helvetica Neue', sans-serif;
$font-family_open-sans: 'OpenSans', 'Helvetica Neue', sans-serif;
$font-family_lato: 'Lato', 'Helvetica Neue', sans-serif;
$font-family_gilroy: 'Gilroy', 'Helvetica Neue', sans-serif;
